<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/output.css">
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
</head>
<body>
    <div class="">
        <h1 class='mb-4 text-4xl font-extrabold text-center'>
            STOP! You have violated the law!
        </h1>
        <br>
        <img src='/images/guard.jpg' class = 'rounded-lg shadow-xl mx-auto'>
        <br>
        <h2 class='mb-4 text-4xl font-extrabold text-center'>
            {{message}}
        </h2>
    </div>
</body>