<!DOCTYPE html>
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/output.css">
        {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}

    </head>
    <body>
        
        <div class="min-h-screen bg-[url('/images/music_pic_AIT.jpg_large')] bg-cover bg-center">
        <div class="backdrop-blur-lg min-h-screen">
        <div class="px-6 py-24 sm:py-32 lg:px-8">
        <div class="items-center justify-center">
            {{!-- <div class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white"> --}}
            <h1 class="mb-6 text-5xl text-white font-bold text-center drop-shadow-[0_1px_6px_rgba(0,0,0,1)]">VGM OVERFLOW</h1>
        {{!-- </div> --}}
            <div class="flex flex-col items-center justify-center">
                <h1 class="inline text-white text-2xl font-bold drop-shadow-[0_1px_4px_rgba(0,0,0,1)]">Songs: </h1>
                <br>
                <a href="/searchSongs" class="items-center">
                    <button class="inline w-48 mx-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-lg font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Search Songs</button>
                </a>
                <br>
                <a href="/addSong" class="items-center">
                    <button class="inline w-48 mx-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-lg font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Add Song</button>
                </a>

                <br>
                <br>

                <h1 class="inline text-white text-2xl font-bold drop-shadow-[0_1px_4px_rgba(0,0,0,1)]">Games: </h1>
                <br>
                <a href="/searchGames" class="items-center">
                    <button class="inline w-48 mx-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-lg font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Search Games</button>
                </a>
                <br>
                <a href="/addGame" class="items-center">
                    <button class="inline w-48 mx-auto rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-lg font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Add Game</button>
                </a>
            </div>
        </div>
        </div>
        </div>
        </div>

        
        
    </body>