<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8" />
				<meta name="viewport" content="width=device-width" />
				<link rel="stylesheet" href="/output.css">
		</head>
		<body>
            <header class="bg-white" >
                <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
                    <div class="hidden lg:flex lg:gap-x-12">
                    <a href="/" class="text-sm/6 font-semibold text-gray-900">Home</a>
                    <a href="/addsong" class="text-sm/6 font-semibold text-gray-900">Add Song</a>
                    <a href="/searchsongs" class="text-sm/6 font-semibold text-gray-900">View Songs</a>
                    <a href="/addgame" class="text-sm/6 font-semibold text-gray-900">Add Game</a>
                    <a href="/searchgames" class="text-sm/6 font-semibold text-gray-900">View Games</a>
                    </div>
                    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <a href="#" class="text-sm/6 font-semibold text-gray-900">
                    {{#if user}}
                    <!--<span class="success">Logged in as: {{user.username}}</span>-->
                    <a href='/userPage'>Logged in as: {{user.username}}</a>
                    {{else}}
                    <a href="/register">Register</a> / <a href="/login">Login</a>
                    {{/if}}
                     <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </nav>
            </header>
            <!-- where your templates are
            placed-->
            {{{ body }}}
		</body>
</html>